@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --background-color:rgb(68, 71, 90);
    --main-color:rgba(40, 42, 54, .67);
    --text-color-1:rgb(248, 248, 242);
    --text-color-hightlight-1:rgb(154, 252, 179);
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: var(--background-color);
}

/* #region Text Styling */
h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 3rem;
    color: var(--text-color-1);
}

h2 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    color: var(--text-color-1);
}
h3 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.8rem;
    color: var(--text-color-1);
}
a {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.6rem;
    text-decoration: none;
}
p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
    color: var(--text-color-1);
}

a h3:hover {
    color: var(--text-color-hightlight-1);
}
/* #endregion */

/* #region Header */
#header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 15px;

    background-color: var(--main-color);
}

#header img {
    margin: 10px;
}

#link_list {
    display: flex;
    flex-direction: row;
    justify-content: start;

    width: 100%;
}

#link_list a {
    margin-left: 100px;
}
/* #endregion */

#start_background_canvas {
    z-index: -1;

    position: absolute;

    top: 0px;
}
#start_title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start_title h2 {
    font-style: italic;
    align-self: start;
}

#game_list {
    grid-area: ga;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px auto;
    grid-template-areas: 
    "g1 g2"
    "g3 . ";
    justify-content: center;
}

#game_list a {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    text-decoration: none;
}

#game_1 {
    grid-area: g1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(0, 0, 0)), url("/img/othello_1.png");;
}
#game_1:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("/img/othello_1.png");;
}
#game_2 {
    grid-area: g2;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(0, 0, 0)), url("/img/terrain_game_1.png");;
}
#game_2:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("/img/terrain_game_1.png");;
}
#game_3 {
    grid-area: g3;
    background-color: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

#game_grid {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-areas: 
    "ti ti"
    "p1 p1"
    "i1 p2"
    "qu qu"
    "li li";
    justify-content: center;
}
#game_title {
    grid-area: ti;
    text-align: center;
    margin: 20px;
}
#game_paragraph_1 {
    grid-area: p1;
    text-align: center;
}
#game_image_1 {
    grid-area: i1;
    justify-self: end;
    margin: 20px;

    width: 30vw;
}
#game_paragraph_2 {
    grid-area: p2;
    margin: 20px;
}

#game_quote {
    grid-area: qu;

    margin: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#game_quote h2 {
    text-align: center;
    font-style: italic;
}
#game_quote p {
    text-align: center;
}

#game_git_link {
    grid-area: li;
    justify-self: center;
    margin: 20px;
}
#game_git_link p {
    text-decoration: underline;
}

#contact_grid {
    display: grid;
    grid-template-columns: 40vw;
    grid-template-areas: 
    "i1";
    justify-content: center;
}
#contact_item_1 {
    grid-area: i1;

    margin-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "ti im"
    "pa im";
    align-items: center;
}
#contact_item_1 h1 {
    grid-area: ti;
    margin-right: 10px;
    text-align: end;
}
#contact_item_1 p {
    grid-area: pa;
    margin-right: 10px;
    text-align: end;
}
#contact_item_1 p a {
    font-size: 1.2rem;
    text-decoration: underline;
    font-style: italic;
}
#contact_item_1 img {
    grid-area: im;
}

@media screen and (max-width: 600px) {
    a {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
    
    #header img {
        display: none;
    }

    #burger_menu {
        z-index: 1;

        display: block;
        
        position: fixed;
        left: 80vw;
        top: 2vh;

        cursor: pointer;
    }
    #burger_menu div {
        margin: 10px;
        
        width: 40px;
        height: 10px;

        background-color: var(--text-color-1);
    }

    #link_list {
        z-index: 1;

        position: fixed;
        top: 0px;

        height: 100vh;
        width: 100vw;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: var(--main-color);
        transition: 0.2s;
    }

    #link_list a {
        margin-left: 0px;
        margin-bottom: 100px;
    }

    .link_list_closed {
        transform: translateY(-100vh);
    }
    
    #link_list ul {
        flex-direction: column;
        align-items: center;
    }

    #link_list ul li {
        margin-bottom: 10vh;
        display: initial;
    }

    .header_link {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    #start_paragraph_1 {
        grid-area: p1;
    
        margin: 40px;
    }
    #start_paragraph_1 h1 {
        text-align: center;
    }
    #start_paragraph_1 p {
        text-align: center;
    }
    #start_image_1 {
    }
    #start_image_2 {
        grid-area: i2;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    #start_paragraph_2 {
        grid-area: p2;
    }
    #start_paragraph_2 h1 {
        text-align: center;
    }
    #start_paragraph_2 p {
        text-align: center;
    }


    #game_list {
        grid-template-columns: 100vw;
        grid-template-rows: 500px 500px 500px 500px;
        grid-template-areas: 
        "g1"
        "g2"
        "g3";
    }
    #game_list a {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #game_grid {
        grid-template-columns: 100vw;
        grid-template-areas: 
        "ti"
        "p1"
        "i1"
        "p2"
        "qu"
        "li";
        justify-content: end;
    }
    #game_title {
        text-align: center;
        margin-bottom: 20px;
    }
    #game_paragraph_1 {
        text-align: center;
        margin: 20px;
    }
    #game_image_1 {
        justify-self: center;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100vw;
    }
    #game_paragraph_2 {
        text-align: center;
        margin: 20px;
    }

    #contact_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "i1";
        justify-content: center;
    }
    #contact_item_1 {
        grid-area: i1;
    
        margin: 40px;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "im"
        "ti"
        "pa";
        align-items: start;
    }
    #contact_item_1 h1 {
        text-align: start;
    }
    #contact_item_1 p {
        text-align: start;
    }
    #contact_item_1 img {
        
    }
}