@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* #region Overall */
:root {
    --main-color:rgb(0, 0, 0);
    --main-color-transparent:rgba(0, 0, 0, 0);
    --background-color:rgb(0, 0, 0);
    --text-color-1:rgb(0, 0, 0);
    --text-highlight-color-1:rgb(0, 0, 0);
    --accent-color-1:rgb(0, 0, 0);
    --accent-color-1-transparent:rgbax(0, 0, 0, 0)
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: var(--background-color);
}
/* #endregion */

/* #region Text Styling */
h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 4rem;
    color: var(--text-color-1);
}

h2 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 3rem;
    color: var(--text-color-1);
}
h3 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.8rem;
    color: var(--text-color-1);
}
a {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.6rem;
    text-decoration: none;
}
p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
    color: var(--text-color-1);
}

a h3:hover {
    color: var(--text-highlight-color-1);
}
/* #endregion */

/* #region Header */
#header {
    grid-area: he;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: fit-content;
    height: 150px;
    margin: 15px;

    background-color: var(--main-color-transparent);
}

#header img {
    margin: 10px;
}

#link_list {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#link_list a {
    margin-left: 75px;
    margin-right: 75px;
}
/* #endregion */

#start_background_canvas {
    z-index: -1;

    position: absolute;

    top: 0px;
}

#start_grid {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "he he"
    "ti te"
    ".  th";
}

#start_title {
    grid-area: ti;

    margin-top: 15px;
    margin-left: 30px;

    display: flex;
    flex-direction: column;
}
#start_title h2 {
    font-style: italic;
    align-self: start;
}

#start_text {
    grid-area: te;

    justify-self: end;
    margin: 30px;
    margin-right: 90px;

    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: end;

    text-align: end;
}

#theme_picker {
    grid-area: th;

    margin: 30px;
    margin-right: 90px;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.color_theme_button {
    margin: 10px;

    border-radius: 100%;
    border-style: solid;
    border-color: var(--main-color);

    transform: rotate(-45deg);
}
.color_theme_button:hover {
    border-color: var(--text-color-1);
}
.color_theme_button:active {
    border-color: var(--text-color-1);
}

.color_theme_button div {
    height: 30px;
    width: 60px;

    border-radius: 45px 45px 0 0;
}

#game_list {
    grid-area: ga;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px auto;
    grid-template-areas: 
    "g1 g2"
    "g3 . ";
    justify-content: center;
}

#game_list a {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    text-decoration: none;
}

#game_1 {
    grid-area: g1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(0, 0, 0)), url("/img/othello_1.png");;
}
#game_1:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("/img/othello_1.png");;
}
#game_2 {
    grid-area: g2;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(0, 0, 0)), url("/img/terrain_game_1.png");;
}
#game_2:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("/img/terrain_game_1.png");;
}
#game_3 {
    grid-area: g3;
    background-color: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

#game_grid {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-areas: 
    "ti ti"
    "p1 p1"
    "i1 p2"
    "qu qu"
    "li li";
    justify-content: center;
}
#game_title {
    grid-area: ti;
    text-align: center;
    margin: 20px;
}
#game_paragraph_1 {
    grid-area: p1;
    text-align: center;
}
#game_image_1 {
    grid-area: i1;
    justify-self: end;
    margin: 20px;

    width: 30vw;
}
#game_paragraph_2 {
    grid-area: p2;
    margin: 20px;
}

#game_quote {
    grid-area: qu;

    margin: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#game_quote h2 {
    text-align: center;
    font-style: italic;
}
#game_quote p {
    text-align: center;
}

#game_git_link {
    grid-area: li;
    justify-self: center;
    margin: 20px;
}
#game_git_link p {
    text-decoration: underline;
}

#contact_grid {
    display: grid;
    grid-template-columns: 40vw;
    grid-template-areas: 
    "i1";
    justify-content: center;
}
#contact_item_1 {
    grid-area: i1;

    margin-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "ti im"
    "pa im";
    align-items: center;
}
#contact_item_1 h1 {
    grid-area: ti;
    margin-right: 10px;
    text-align: end;
}
#contact_item_1 p {
    grid-area: pa;
    margin-right: 10px;
    text-align: end;
}
#contact_item_1 p a {
    font-size: 1.2rem;
    text-decoration: underline;
    font-style: italic;
}
#contact_item_1 img {
    grid-area: im;
}

@media screen and (max-width: 600px) {
    a {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
    
    #header img {
        display: none;
    }

    #burger_menu {
        z-index: 1;

        display: block;
        
        position: fixed;
        left: 80vw;
        top: 2vh;

        cursor: pointer;
    }
    #burger_menu div {
        margin: 10px;
        
        width: 40px;
        height: 10px;

        background-color: var(--text-color-1);
    }

    #link_list {
        z-index: 1;

        position: fixed;
        left: 0px;
        top: 0px;

        height: 100vh;
        width: 100vw;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: var(--main-color-transparent);
        transition: 0.2s;
    }

    #link_list a {
        text-align: center;

        margin: 0px;
        margin-bottom: 100px;
    }

    .link_list_closed {
        transform: translateY(-100vh);
    }
    
    #link_list ul {
        flex-direction: column;
        align-items: center;
    }

    #start_grid {
        height: auto;
        width: 100vw;

        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "te"
        "th";
        justify-items: center;
        align-items: center;
    }

    #start_title {
        display: none;
    }

    #start_text {
        justify-self: auto;
        margin: 0px;
        margin-top: 30px;

        width: 100vw;
        height: auto;

        text-align: center;

        justify-content: center;
        align-items: center;
    }
    #start_text p {
        margin: 10px;
    }

    #theme_picker {
        justify-self: auto;
        margin: 0px;

        width: auto;
        height: auto;

        justify-content: space-evenly;
    }

    #game_list {
        grid-template-columns: 100vw;
        grid-template-rows: 500px 500px 500px 500px;
        grid-template-areas: 
        "g1"
        "g2"
        "g3";
    }
    #game_list a {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #game_grid {
        grid-template-columns: 100vw;
        grid-template-areas: 
        "ti"
        "p1"
        "i1"
        "p2"
        "qu"
        "li";
        justify-content: end;
    }
    #game_title {
        text-align: center;
        margin-bottom: 20px;
    }
    #game_paragraph_1 {
        text-align: center;
        margin: 20px;
    }
    #game_image_1 {
        justify-self: center;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100vw;
    }
    #game_paragraph_2 {
        text-align: center;
        margin: 20px;
    }

    #contact_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "i1";
        justify-content: center;
    }
    #contact_item_1 {
        grid-area: i1;
    
        margin: 40px;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "im"
        "ti"
        "pa";
        align-items: start;
    }
    #contact_item_1 h1 {
        text-align: start;
    }
    #contact_item_1 p {
        text-align: start;
    }
    #contact_item_1 img {
        
    }
}